/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f5b65;
  font-size: 68.75%;
}

/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #3e4a54;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0090ba;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #0090ba;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: #0090ba;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #0090ba;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc90ba;
}

/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #828e98;
}

/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #2d3943;
}

/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 5, ../../../app/stylesheets/partials/_layout.scss */
body {
  background: white url('/images/homepage01.gif?1294797413') repeat-x left top;
}

/* line 9, ../../../app/stylesheets/partials/_layout.scss */
#topmenu {
  color: #3F6967;
}
/* line 11, ../../../app/stylesheets/partials/_layout.scss */
#topmenu p {
  margin: 0px;
}

/* line 16, ../../../app/stylesheets/partials/_layout.scss */
#menu {
  height: 38px;
}
/* line 18, ../../../app/stylesheets/partials/_layout.scss */
#menu ul {
  margin: 0px;
  padding: 12px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}
/* line 24, ../../../app/stylesheets/partials/_layout.scss */
#menu li {
  float: left;
  padding: 0px 20px 0px 20px;
  background: url('/images/homepage04.gif?1294797413') no-repeat left top;
}
/* line 28, ../../../app/stylesheets/partials/_layout.scss */
#menu li .first {
  padding-left: 15px;
  background: none;
}
/* line 33, ../../../app/stylesheets/partials/_layout.scss */
#menu a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}
/* line 37, ../../../app/stylesheets/partials/_layout.scss */
#menu a:hover {
  text-decoration: underline;
}

/* line 43, ../../../app/stylesheets/partials/_layout.scss */
#page {
  width: 980px;
  padding: 10px;
  background: #FFF;
  overflow: hidden;
  *zoom: 1;
}

/* line 50, ../../../app/stylesheets/partials/_layout.scss */
#footer {
  background: #D8E9EF;
}
/* line 52, ../../../app/stylesheets/partials/_layout.scss */
#footer .container {
  width: 970px;
  padding: 30px 0px;
  height: 50px;
}
/* line 57, ../../../app/stylesheets/partials/_layout.scss */
#footer p {
  margin: 0px;
  padding: 0px;
  color: #5F8B9D;
}
/* line 62, ../../../app/stylesheets/partials/_layout.scss */
#footer a {
  padding: 0px 10px;
  color: #5F8B9D;
}
/* line 66, ../../../app/stylesheets/partials/_layout.scss */
#footer .legal {
  float: left;
}
/* line 69, ../../../app/stylesheets/partials/_layout.scss */
#footer .links {
  float: right;
}

/* line 74, ../../../app/stylesheets/partials/_layout.scss */
.container {
  width: 1000px;
  margin: 0px auto;
}

/* line 79, ../../../app/stylesheets/partials/_layout.scss */
#header {
  height: 106px;
}

/* line 83, ../../../app/stylesheets/partials/_layout.scss */
#topmenu {
  height: 30px;
}

/* line 88, ../../../app/stylesheets/partials/_layout.scss */
.three-columns .column1 {
  float: left;
  width: 240px;
  padding: 0px 0px 0px 0px;
}
/* line 93, ../../../app/stylesheets/partials/_layout.scss */
.three-columns .column2 {
  float: left;
  width: 520px;
  padding: 0px 10px;
}
/* line 98, ../../../app/stylesheets/partials/_layout.scss */
.three-columns .column3 {
  float: left;
  width: 200px;
  padding: 0px 0px 0px 0px;
}

/* line 106, ../../../app/stylesheets/partials/_layout.scss */
.two-columns .column1 {
  float: left;
  width: 240px;
}
/* line 110, ../../../app/stylesheets/partials/_layout.scss */
.two-columns .column2 {
  float: right;
  width: 730px;
}

/* line 116, ../../../app/stylesheets/partials/_layout.scss */
p, ol, ul {
  margin-top: 0px;
  margin-bottom: 18px;
  text-align: justify;
  line-height: 17px;
}

/* line 123, ../../../app/stylesheets/partials/_layout.scss */
.border {
  padding: 3px;
  border: 1px solid #CBD0D4;
}

/* line 128, ../../../app/stylesheets/partials/_layout.scss */
#order {
  float: right;
  height: 181px;
  width: 119px;
}
/* line 133, ../../../app/stylesheets/partials/_layout.scss */
#order a {
  color: #ccc;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 81px;
  width: 119px;
  padding-top: 100px;
  text-align: center;
  text-decoration: none;
  background-image: url('/images/aanvragen.jpg?1295227813');
}
/* line 144, ../../../app/stylesheets/partials/_layout.scss */
#order a:hover {
  color: #0090BA;
}

/* line 150, ../../../app/stylesheets/partials/_layout.scss */
#review_block {
  background-color: #FFF5DB;
  border: 2px dotted #DEDEDE;
  float: right;
  margin: 6px 0px 10px 10px;
  padding: 10px;
  width: 200px;
}

/* line 159, ../../../app/stylesheets/partials/_layout.scss */
#details, #facilities {
  overflow: hidden;
  *zoom: 1;
}
/* line 161, ../../../app/stylesheets/partials/_layout.scss */
#details .column, #facilities .column {
  width: 30%;
  float: left;
  margin-left: 5%;
}
/* line 165, ../../../app/stylesheets/partials/_layout.scss */
#details .column:first-child, #facilities .column:first-child {
  margin-left: 0;
}

/* line 172, ../../../app/stylesheets/partials/_layout.scss */
#reviews .grade {
  float: left;
  border: 1px solid #DEDEDE;
  height: 50px;
  margin: 0 10px 10px 0;
  width: 70px;
  padding: 10px;
  text-align: center;
}

/* line 1, ../../../app/stylesheets/partials/_text.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 5, ../../../app/stylesheets/partials/_text.scss */
h1 {
  font-size: 2em;
}

/* line 9, ../../../app/stylesheets/partials/_text.scss */
h3 {
  margin-bottom: 10px;
  font-size: 11px;
  color: #005876;
}

/* line 15, ../../../app/stylesheets/partials/_text.scss */
h3.style1 {
  margin-bottom: 15px;
  font-size: 18px;
}

/* line 20, ../../../app/stylesheets/partials/_text.scss */
.more {
  height: 22px;
  padding: 8px 0px 0px 15px;
  background: url('/images/homepage10.gif?1294797413') repeat-x left top;
}
/* line 24, ../../../app/stylesheets/partials/_text.scss */
.more a {
  padding-left: 17px;
  background: url('/images/homepage11.gif?1294797413') no-repeat left center;
  color: #56636F;
}

/* line 31, ../../../app/stylesheets/partials/_text.scss */
a:hover {
  text-decoration: none;
}

/* line 35, ../../../app/stylesheets/partials/_text.scss */
thead th {
  background: inherit;
}

/* line 1, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 {
  margin-bottom: 10px;
}
/* line 3, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 h2 {
  height: 25px;
  margin: 0px;
  padding: 13px 0px 0px 15px;
  background: url('/images/homepage06.gif?1294797413') no-repeat left top;
  font-size: 11px;
  color: #FFFFFF;
}
/* line 11, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: normal;
}
/* line 17, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 li {
  height: 21px;
  margin-top: 1px;
  padding: 9px 0px 0px 15px;
  background: #E4E7E9;
}
/* line 22, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 li alt {
  background: #DADEE1;
}
/* line 26, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 a {
  text-decoration: none;
  color: #4E5A64;
}
/* line 29, ../../../app/stylesheets/partials/_boxes.scss */
.box-style1 a:hover {
  text-decoration: underline;
}

/* line 36, ../../../app/stylesheets/partials/_boxes.scss */
.box-style2 h2 {
  height: 20px;
  margin: 0px;
  padding: 8px 0px 0px 15px;
  background: url('/images/homepage07.gif?1294797413') no-repeat left top;
  font-size: 11px;
  color: #FFFFFF;
}
/* line 44, ../../../app/stylesheets/partials/_boxes.scss */
.box-style2 .content {
  padding: 20px 15px 10px 15px;
}

/* line 49, ../../../app/stylesheets/partials/_boxes.scss */
.box-style3 {
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 52, ../../../app/stylesheets/partials/_boxes.scss */
.box-style3 .title {
  height: 28px;
  background: url('/images/subpage3_01.jpg?1294797413') no-repeat right top;
}
/* line 55, ../../../app/stylesheets/partials/_boxes.scss */
.box-style3 .title h2 {
  height: 28px;
  margin: 0px;
  padding: 8px 0px 0px 15px;
  background: url('/images/subpage3_02.jpg?1294797413') no-repeat left top;
  font-size: 11px;
  color: #394149;
}
/* line 64, ../../../app/stylesheets/partials/_boxes.scss */
.box-style3 .content {
  padding: 20px 15px 10px 15px;
}

/* line 69, ../../../app/stylesheets/partials/_boxes.scss */
.box-style4 {
  margin-bottom: 10px;
}
/* line 71, ../../../app/stylesheets/partials/_boxes.scss */
.box-style4 h2 {
  height: 20px;
  margin: 0px;
  padding: 8px 0px 0px 15px;
  background: url('/images/homepage12.gif?1294797413') no-repeat left top;
  font-size: 11px;
  color: #FFFFFF;
}
/* line 79, ../../../app/stylesheets/partials/_boxes.scss */
.box-style4 .content {
  padding: 20px 15px 0px 15px;
  background: #E6E9EB;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* line 87, ../../../app/stylesheets/partials/_boxes.scss */
.box-style5 {
  margin-bottom: 10px;
}
/* line 89, ../../../app/stylesheets/partials/_boxes.scss */
.box-style5 h2 {
  height: 20px;
  margin: 0px;
  padding: 8px 0px 0px 15px;
  background: url('/images/homepage15.gif?1294797413') no-repeat left top;
  text-transform: uppercase;
  font-size: 11px;
  color: #FFFFFF;
}
/* line 99, ../../../app/stylesheets/partials/_boxes.scss */
.box-style5 .content {
  padding: 15px 13px;
  background: #E6E9EB;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

/* line 2, ../../../app/stylesheets/partials/_lists.scss */
ul.list1 {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
/* line 6, ../../../app/stylesheets/partials/_lists.scss */
ul.list1 li a {
  padding-left: 15px;
  background: url(images/homepage09.gif) no-repeat left center;
}
/* line 12, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: normal;
}
/* line 17, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 li {
  padding: 10px 0px;
  border-top: 1px solid #D0D4D8;
}
/* line 20, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 li.first {
  padding-top: 0px;
  border: none;
}
/* line 25, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 h3 {
  margin: 0px;
  font-size: 13px;
}
/* line 28, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 h3 a {
  text-decoration: none;
  color: #005876;
}
/* line 32, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 h3 a:hover {
  text-decoration: underline;
  color: #0090BA;
}
/* line 37, ../../../app/stylesheets/partials/_lists.scss */
ul.list2 p {
  margin: 0px;
}
/* line 42, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 46, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 li {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 0px;
  border-top: 1px solid #D0D4D8;
}
/* line 50, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 li:first-child {
  padding-top: 0px;
  border: none;
}
/* line 55, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 h3 {
  margin: 0px 0px 10px 0px;
  font-weight: normal;
  color: #8B97A0;
}
/* line 59, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 h3 a {
  text-decoration: none;
  font-weight: bold;
  color: #005876;
}
/* line 63, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 h3 a:hover {
  text-decoration: underline;
  color: #0090BA;
}
/* line 69, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 p {
  margin: 0px;
}
/* line 72, ../../../app/stylesheets/partials/_lists.scss */
ul.list3 img {
  border: 1px solid #CBD0D4;
  padding: 3px;
  float: left;
  margin-right: 15px;
}

/* line 2, ../../../app/stylesheets/partials/_forms.scss */
form .field_with_errors {
  color: #8A1F11;
}
/* line 48, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input.text, form.edit_boat input.title, form.edit_boat input[type=email], form.edit_boat input[type=text], form.edit_boat input[type=password], form.new_package input.text, form.new_package input.title, form.new_package input[type=email], form.new_package input[type=text], form.new_package input[type=password], form.edit_package input.text, form.edit_package input.title, form.edit_package input[type=email], form.edit_package input[type=text], form.edit_package input[type=password] {
  width: 220px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat textarea, form.new_package textarea, form.edit_package textarea {
  width: 700px;
  height: 130px;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat label, form.new_package label, form.edit_package label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat fieldset, form.new_package fieldset, form.edit_package fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat legend, form.new_package legend, form.edit_package legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input.text, form.edit_boat input.title, form.edit_boat input[type=email], form.edit_boat input[type=text], form.edit_boat input[type=password], form.new_package input.text, form.new_package input.title, form.new_package input[type=email], form.new_package input[type=text], form.new_package input[type=password], form.edit_package input.text, form.edit_package input.title, form.edit_package input[type=email], form.edit_package input[type=text], form.edit_package input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input.title, form.new_package input.title, form.edit_package input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input[type=checkbox], form.edit_boat input.checkbox, form.edit_boat input[type=radio], form.edit_boat input.radio, form.new_package input[type=checkbox], form.new_package input.checkbox, form.new_package input[type=radio], form.new_package input.radio, form.edit_package input[type=checkbox], form.edit_package input.checkbox, form.edit_package input[type=radio], form.edit_package input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat textarea, form.new_package textarea, form.edit_package textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat select, form.new_package select, form.edit_package select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat fieldset, form.new_package fieldset, form.edit_package fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input.text, form.edit_boat input.title, form.edit_boat input[type=email], form.edit_boat input[type=text], form.edit_boat input[type=password],
form.edit_boat textarea, form.edit_boat select, form.new_package input.text, form.new_package input.title, form.new_package input[type=email], form.new_package input[type=text], form.new_package input[type=password], form.new_package textarea, form.new_package select, form.edit_package input.text, form.edit_package input.title, form.edit_package input[type=email], form.edit_package input[type=text], form.edit_package input[type=password], form.edit_package textarea, form.edit_package select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.edit_boat input.text:focus, form.edit_boat input.title:focus, form.edit_boat input[type=email]:focus, form.edit_boat input[type=text]:focus, form.edit_boat input[type=password]:focus,
form.edit_boat textarea:focus, form.edit_boat select:focus, form.new_package input.text:focus, form.new_package input.title:focus, form.new_package input[type=email]:focus, form.new_package input[type=text]:focus, form.new_package input[type=password]:focus, form.new_package textarea:focus, form.new_package select:focus, form.edit_package input.text:focus, form.edit_package input.title:focus, form.edit_package input[type=email]:focus, form.edit_package input[type=text]:focus, form.edit_package input[type=password]:focus, form.edit_package textarea:focus, form.edit_package select:focus {
  border: 1px solid #666666;
}
/* line 12, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat .column, form.new_package .column, form.edit_package .column {
  margin-left: 10px;
  float: left;
}
/* line 13, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat .column:first-child, form.new_package .column:first-child, form.edit_package .column:first-child {
  margin-left: 0;
}
/* line 21, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat .row, form.new_package .row, form.edit_package .row {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat label, form.new_package label, form.edit_package label {
  width: 120px;
}
/* line 28, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat input.title, form.new_package input.title, form.edit_package input.title {
  background: none;
  width: 700px;
}
/* line 32, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat input[type=checkbox], form.new_package input[type=checkbox], form.edit_package input[type=checkbox] {
  margin-right: 20px;
}
/* line 36, ../../../app/stylesheets/partials/_forms.scss */
form.edit_boat #tabs, form.new_package #tabs, form.edit_package #tabs {
  margin-bottom: 1.5em;
}
/* line 42, ../../../app/stylesheets/partials/_forms.scss */
form.new_request {
  line-height: 3;
}
/* line 48, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input.text, form.new_request input.title, form.new_request input[type=email], form.new_request input[type=text], form.new_request input[type=password] {
  width: 120px;
}
/* line 50, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request textarea {
  width: 376px;
  height: 130px;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input.text, form.new_request input.title, form.new_request input[type=email], form.new_request input[type=text], form.new_request input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input[type=checkbox], form.new_request input.checkbox, form.new_request input[type=radio], form.new_request input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request select {
  margin: 0.5em 0;
}
/* line 59, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input.text, form.new_request input.title, form.new_request input[type=email], form.new_request input[type=text], form.new_request input[type=password],
form.new_request textarea, form.new_request select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request input.text:focus, form.new_request input.title:focus, form.new_request input[type=email]:focus, form.new_request input[type=text]:focus, form.new_request input[type=password]:focus,
form.new_request textarea:focus, form.new_request select:focus {
  border: 1px solid #666666;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.new_request p {
  margin-bottom: 0;
}
/* line 48, ../../../app/stylesheets/partials/_forms.scss */
form.new_request .field_with_errors {
  color: #8A1F11;
}
/* line 52, ../../../app/stylesheets/partials/_forms.scss */
form.new_request label {
  float: left;
  width: 70px;
  margin-right: 10px;
}
/* line 58, ../../../app/stylesheets/partials/_forms.scss */
form.new_request .left {
  float: left;
  width: 220px;
}
/* line 62, ../../../app/stylesheets/partials/_forms.scss */
form.new_request .right {
  float: right;
}
/* line 66, ../../../app/stylesheets/partials/_forms.scss */
form.new_request .bottom {
  clear: both;
}
