form {
  .field_with_errors {
    color: #8A1F11;
  }
  
  // Boat / Package form
  &.edit_boat, &.new_package, &.edit_package {
    @include blueprint-form-sizes(220px, 700px, 130px);
    @include blueprint-form-layout;
    @include blueprint-form-borders;
    
    .column {
      &:first-child {
        margin-left: 0;
      }
      width: 250px;
      margin-left: 10px;
      float:left;
    }
    
    .row {
      @include clearfix;
    }

    label {
      width: 120px;
    }
    input.title {
      background: none;
      width: 700px;
    }
    input[type=checkbox] {
      margin-right: 20px;
    }
    
    #tabs {
      margin-bottom: 1.5em;
    }
  }
  
  // Request form
  &.new_request {
    @include blueprint-form-sizes(120px, 376px, 130px);
    @include blueprint-form-layout;
    @include blueprint-form-borders;
    @include blueprint-inline-form;
    
    .field_with_errors {
      color: #8A1F11;
    }
    
    label {
      float: left;
      width: 70px;
      margin-right: 10px;
    }

    .left {
      float: left;
      width: 220px;
    }
    .right {
      float: right;
    }

    .bottom {
      clear: both;
    }   
  }
}