@include blueprint-typography();
@include blueprint-utilities;
@include blueprint-interaction;

body {
  background: white image_url('homepage01.gif') repeat-x left top;
}

#topmenu {
	color: #3F6967;
	p {
	  margin: 0px;
	}
}

#menu {
  height: 38px;
  ul {
  	margin: 0px;
  	padding: 12px 0px 0px 0px;
  	list-style: none;
  	line-height: normal;
  }
  li {
  	float: left;
  	padding: 0px 20px 0px 20px;
  	background: image_url('homepage04.gif') no-repeat left top;
    .first {
    	padding-left: 15px;
    	background: none;
    }
  }
  a {
  	text-decoration: none;
  	font-weight: bold;
  	color: #FFFFFF;
    &:hover {
	    text-decoration: underline;
    }
  }
}

#page {
  width: 980px;
  padding: 10px;
  background: #FFF;
  @include clearfix;
}

#footer {
  background: #D8E9EF;
  .container {
    width: 970px;
    padding: 30px 0px;
    height: 50px;
  }
  p {
    margin: 0px;
    padding: 0px;
    color: #5F8B9D;
  }
  a {
    padding: 0px 10px;
    color: #5F8B9D;
  }
  .legal {
    float: left;
  }
  .links {
    float:right;
  }
}

.container {
  width: 1000px;
  margin: 0px auto;
}

#header {
  height: 106px;
}

#topmenu {
  height: 30px;
}

.three-columns {
  .column1 {
  	float: left;
  	width: 240px;
  	padding: 0px 0px 0px 0px;
  }
  .column2 {
  	float: left;
  	width: 520px;
  	padding: 0px 10px;
  }
  .column3 {
  	float: left;
  	width: 200px;
  	padding: 0px 0px 0px 0px;
  }
}

.two-columns {
  .column1 {
    float: left;
    width: 240px;
  }
  .column2 {
    float: right;
    width: 730px;
  }
}

p, ol, ul {
	margin-top: 0px;
	margin-bottom: 18px;
	text-align: justify;
	line-height: 17px;
}

.border {
  padding: 3px;
  border: 1px solid #CBD0D4;
}

#order {
  float: right;
  height: 181px;
  width: 119px;
  
  a {
    color: #ccc;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 81px;
    width: 119px;
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
    background-image: image-url('aanvragen.jpg');
    &:hover {
      color: #0090BA;
    }
  }
}

#review_block {
  background-color: #FFF5DB;
  border: 2px dotted #DEDEDE;
  float: right;
  margin: 6px 0px 10px 10px;
  padding: 10px;
  width: 200px;
}

#details, #facilities {
  @include clearfix;
  .column {
    width: 30%;
    float: left;
    margin-left: 5%;
    &:first-child {
      margin-left: 0;
    }
  }
}

#reviews {
  .grade {
    float: left;
    border: 1px solid #DEDEDE;
    height: 50px;
    margin: 0 10px 10px 0;
    width: 70px;
    padding: 10px;
    text-align: center;
  }
}