- if @request.errors.any?
  .error
    %ul.bottom
      - @request.errors.full_messages.each do |msg|
        %li= msg

= form_for @request, :remote => true, :html => { :id => 'request_form' } do |f|
  .left
    .row
      =f.label :persons
      =f.text_field :persons
    .row
      =f.label :start
      =f.text_field :start
    .row
      =f.label :end
      =f.text_field :end
    .row
      =f.label :first_name
      =f.text_field :first_name
    .row
      =f.label :last_name
      =f.text_field :last_name
    .row
      =f.label :email
      =f.text_field :email
    .row
      =f.label :phone
      =f.text_field :phone
  .right
    right text
  .bottom
    .row
      =f.label :message
      =f.text_area :message
    .row
      =f.submit :send