.box-style3
  .title
    %h2 Mariages
  .content
    %p 
      Rent A Boat Amsterdam est votre partenaire pour les sorties en bateau 
      lorsque vous vous mariez à Amsterdam. Une charmante croisière sur les 
      canaux historiques d’Amsterdam crée un événement inoubliable pour vos 
      amis et votre famille. Rent A Boat Amsterdam offre une grande variété de 
      lieux de mariage sur l’eau à Amsterdam. Vous cherchez une façon 
      différentes de conduire vos invités du et vers le lieu de la cérémonie? 
      Nous vous offrons le bateau idéal. Inutile de dire que nous sommes 
      heureux d’organiser une fête de mariage inoubliable à bord de l’un de 
      nos bateaux.
  
  .title
    %h2 Lieux de mariage recommandés (bateaux)
  .content
    %ul
      %li Ondine
      %li HRH
    %p
      Vous souhaitez vous marier à bord d’un autre de nos bateaux ? N’hésitez 
      pas à nous contacter.
  
  .title
    %h2 Tarifs
  .content
    %p 
      Un mariage sur un bateau est quelque peu différent d’un mariage à terre. 
      Par conséquent, tous les mariages en croisière sont faits sur mesure 
      pour répondre à vos besoins spécifiques. Notre équipe de conseillers 
      expérimentés s’engagent à réaliser la meilleure croisière possible selon 
      vos souhaits. Contactez-nous avec vos idées et nous vous ferons une 
      proposition correspondante.
      
  .title
    %h2 Important
  .content
    %p 
      Il est important de savoir que si vous vous mariez sur un bateau, vous 
      devrez contacter le conseil municipal et les informer de votre souhait 
      de mariage sur l’un de nos bateaux.
      
  .title
    %h2 Liste de contrôle
  .content
    %ul
      %li Faire une demande au conseil municipal
      %li Donner au conseil municipal le nom du bateau
      %li Faire une réservation pour le "ambtenaar van de burgelijke stand"

    %p N’hésitez pas à nous contacter si vous avez des questions
  
  .title
    %h2 Informations supplémentaires
  .content
    %p
      Vous cherchez un lieu de mariage spécial et romantique à Amsterdam pour 
      une cérémonie ou une fête de mariage? Vous vous mariez à bord d’un 
      bateau de canal classique d’Amsterdam? Rent A Boat Amsterdam est prêt à 
      vous assister en organisant la croisière de votre vie. Les bateaux de 
      Rent A Boat Amsterdam conviennent parfaitement à l’accueil des petits 
      groupes de personnes comme des grands. Nous offrons des conseils 
      pratiques et notre équipe de conseillers expérimentés est toujours prête 
      à vous aider. Veuillez noter que la plupart de nos bateaux sont des 
      lieux de mariage approuvés mais que, dans la plupart des cas, la 
      cérémonie doit se dérouler dans le centre ville d’Amsterdam. Pour avoir 
      plus d’informations sur les consignes appliqués par le conseil 
      municipal, nous vous recommandons de consulter le: Stadsdeel Amsterdam 
      Centrum.