#page.container
  .box-style3
    .title 
      %h2 Getting married
    .content
      %p 
        Rent A Boat Amsterdam is your boating partner when getting married in
        Amsterdam. A lovely cruise through historic Amsterdam makes a
        memorable event for your friends and family. Rent A Boat Amsterdam
        offers a wide variety of floating wedding locations in Amsterdam.
        Looking for an alternative way of getting your guest from and to the
        wedding location? We offer the right boat for you. It goes without
        saying we are happy to organise a wedding party to remember aboard one
        of our boats.
    .title
      %h2 Recommended wedding locations (boats)
    .content
      %ul
        %li Ondine
        %li HRH
      %p
        Would you like to get married on board of one of our other boats?
        Please feel free to contact us.
    .title
      %h2 Rates
    .content
      %p
        Getting married on a boat is somewhat different from getting married
        at a location on the land. Therefore all wedding cruises are tailored
        to fit your specific requirements. Our experienced advisory team is
        committed to making sure the cruise you want is the best it could
        possibly be. Contact us with your idea's and we will provide you with
        a matching proposal.
    .title
      %h2 Important
    .content
      %p
        It is of importance to know in case you are getting married on a boat
        you will need to contact the city council and make sure they are
        informed about your wishes to get married on one of our boats.
    .title
      %h2 Checklist
    .content
      %ul
        %li Apply at the city council
        %li Provide the city council with the name of the boat
        %li Make a reservation for the "ambtenaar van de burgelijke stand"
      %p Do not hesitate to contact us for any questions
    .title
      %h2 Additional information
    .content
      %p
        Looking for a special and romantic wedding location in Amsterdam for a
        wedding ceremony or wedding party? Getting married on board of a
        classic Amsterdam canal boat? Rent A Boat Amsterdam is ready to assist
        in organizing the cruise of your life. The Rent A Boat Amsterdam boats
        are perfectly suited to accommodate both a small and a large number of
        people.
      %p
        We offer practical tips and our experienced advisory team is always
        ready to help you out. Please note that most of our boats are approved
        wedding location but that in most cases the wedding needs to take
        place withing the city centre of Amsterdam. For more information about
        the guidelines applied by the city council we would like to recommend:
        = link_to 'Stadsdeel Amsterdam Centrum', 
          'http://www.centrum.amsterdam.nl/'