.box-style3
  .title
    %h2 Trouwen
  .content
    %p 
      Boot Huren Amsterdam is de partij als het gaat om de varende
      trouwlocatie. Wat is mooier dan trouwen al varend over de grachten van
      Amsterdam samen met uw genodigden. Boot Huren Amsterdam biedt de
      meeste varende trouwlocaties van Amsterdam. Graag wijzen wij u erop
      dat het trouwen aan boord in de meeste gevallen in het stadsdeel
      centrum dient te geschieden.

  .title
    %h2 Aanraders
  .content
    %ul
      %li Ondine
      %li HRH
    %p
      Mocht u liever een andere boot van onze site als trouwlocatie in
      Amsterdam wensen, neem dan vrijblijvend contact met ons op. Bijna
      alles is mogelijk!

  .title
    %h2 Tarieven
  .content
    %p 
      Trouwen aan boord is maatwerk. Neem gerust vrijblijvend contact met
      ons op om het huwelijk door te spreken. Wij zullen u adviseren over de
      boot en mogelijkheden die het beste aansluiten op uw specifieke wensen
      en verzorgen een offerte op maat.
  .title
    %h2 Belangrijk
  .content
    %p 
      Belangrijk is om te weten is dat als u aan boord van een van onze
      boten wenst te trouwen u zelf contact dient op te nemen met het
      stadsdeel centrum. U geeft bij uw ondertrouw aan dat u de plechtigheid
      wil laten plaatsvinden aan boord van een van onze schepen.
  .title
    %h2 Checklist
  .content
    %ul
      %li Aanmelden bij het stadsdeel waar getrouwd gaat worden
      %li Naam van de boot doorgeven
      %li 
        Ambtenaar van de burgerlijke stand reserveren en duidelijk 
        communiceren waar deze op- en afstapt
    
    %p Twijfel niet geheel vrijblijvend contact met ons op te nemen.

  .title
    %h2 Aanvullende informatie
  .content
    %p
      Een geschikte trouwlocatie in Amsterdam vinden? Op zoek naar een top
      trouwlocatie voor een huwelijksfeest? Trouwen aan boord van een leuke
      boot in Amsterdam? Boot huren Amsterdam verzorgt uw trouwlocatie in
      Amsterdam. De boten van Boot Huren Amsterdam zijn uitermate geschikt
      als locatie voor bruiloften van 2 tot 400 personen. Boot Huren
      Amsterdam geeft een leuke en praktische invulling aan uw huwelijk of
      helpt u bij het vervoeren tussen de verschillende locaties van uw
      huwelijk. U kunt een of meerdere boten huren die u en uw trouwerij
      gasten van de een locatie naar een andere locatie brengen, maar het
      leukst is wellicht om de hele trouwerij bij ons aan boord te laten
      plaatsvinden. Onze schepen zijn aangewezen als trouwlocatie voor
      Stadsdeel Centrum

    %p
      Boot Huren Amsterdam is de partij als het gaat om de varende
      trouwlocatie. Wat is mooier dan trouwen al varend over de grachten van
      Amsterdam samen met uw genodigden. Boot Huren Amsterdam biedt de
      meeste varende trouwlocaties van Amsterdam. Graag wijzen wij u erop
      dat het trouwen aan boord in de meeste gevallen in het stadsdeel
      centrum dient te geschieden. Mag ik zo maar een boot als trouwlocatie
      in Amsterdam kiezen? Het antwoord is simpel: ja, u kunt een boot als
      trouwlocatie in Amsterdam kiezen. Wilt u trouwen aan boord, dan
      reserveert u bij ons een schip en maakt u een afspraak bij stadsdeel
      Centrum. Bij de ondertrouw geeft u aan dat u de plechtigheid wilt
      laten plaatsvinden aan boord van een van onze schepen. Voor sommige
      trouwlocaties (zoals vele boten in Amsterdam) moet u eerst een verzoek
      indienen bij de afdeling Burgerzaken van de stad Amsterdam. Wij raden
      u daarom aan zelf contact op te nemen met het betreffende stadsdeel en
      de wensen omtrent uw trouwlocatie te kennen te geven. Wij regelen de
      rest.

    %p
      Als u een van onze schepen als trouwlocatie kiest, is de procedure als
      volgt: U kunt bij Burgerzaken een optie nemen op een dag, tijdstip en
      locatie voor uw huwelijks voltrekking. Vervolgens boekt u zelf bij
      Boot Huren Amsterdam de dag en het tijdstip. Met de bevestiging
      omtrent de trouwlocatie kunt u aan de loketten van Burgerzaken de
      optie omzetten in een definitieve boeking. Dit dient te gebeuren
      binnen de daarvoor gestelde termijn van twee weken om te voorkomen dat
      uw reservering vervalt. Alvorens een trouwdatum te kunnen reserveren,
      dient u eerst in ondertrouw te zijn! Voor meer informatie kunt u ook
      kijken op de website van Stadsdeel Amsterdam Centrum.