#page.container
  .box-style3
    .content
      %h3.style1= @boat.display_name
      
      - if @boat.errors.any?
        .error
          %ul.bottom
            - @boat.errors.full_messages.each do |msg|
              %li= msg
      
      =form_for @boat, :html => { :multipart => true } do |f|
        %fieldset
          .row
            .column
              =f.label :boat_type
              =f.text_field :boat_type, :class => 'title'
            .column
              =f.label :name
              =f.text_field :name, :class => 'title'
          .row
            .column
              =f.label :min_hours
              =f.text_field :min_hours
          .row
            .column
              =f.label :active
              =f.check_box :active
        %fieldset
          .row
            =file_field_tag 'boat[photos_attributes][][photo]', :multiple => true
        %fieldset
          .row
            .column
              =f.label :max_persons
              =f.text_field :max_persons
              =f.label :max_persons_buffet
              =f.text_field :max_persons_buffet
              =f.label :max_persons_dinner
              =f.text_field :max_persons_dinner
            .column
              =f.label :price1
              =f.text_field :price1
              =f.label :price2
              =f.text_field :price2
              =f.label :price3
              =f.text_field :price3
        %fieldset
          .row
            =f.label     :toilet
            =f.check_box :toilet
            =f.label     :bar
            =f.check_box :bar
            =f.label     :music
            =f.check_box :music
            =f.label     :heating
            =f.check_box :heating
            =f.label     :environment
            =f.check_box :environment
            =f.label     :power
            =f.check_box :power
            =f.label     :windows
            =f.check_box :windows
            =f.label     :wheelchair
            =f.check_box :wheelchair
            =f.label     :balcony
            =f.check_box :balcony
        %fieldset
          .row
            =f.label       :description
            %br
            =f.text_area   :description
              
        =f.submit