.box-style3
  .title
    %h2
      = link_to 'Home', :root
      > Alle boten
  .content
    %h3.style1 Alle boten
    %p
      Boot Huren Amsterdam brengt het volledige boten aanbod van alle 
      rederijen in Amsterdam in kaart en biedt u de mogelijkheid te 
      vergelijken en de boot te kiezen die het beste aansluit op uw wensen. 
      Kijk, vergelijk en boek met laagste prijsgarantie en zonder 
      reserveringskosten.
      
.box-style3#boat_list
  .title
    Sorteer op: 
  .content
    %ul.list3
      - @boats.each do |boat|
        %li.first
          = link_to image_tag('http://www.boothurenamsterdam.com/nieuw/media/boat/thumbnails/zelfstandig-sloep.jpg'), married_path()
          %p 
            =link_to boat.display_name, married_path
            (85 reacties)
          %p
            =truncate boat.description, :separator => ' ', :length => 235
          %p
            =link_to 'Meer informatie', married_path